<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Debbie Macrohon</title>
  <meta name="description" content="">
  <meta name="author" content="Debbie Macrohon">

  <!-- Favicons
    ================================================== -->
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> -->
  <link rel="stylesheet" type="text/css" href="css/timeline.css">

  <!-- Stylesheet
    ================================================== -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/prettyPhoto.css">
  <link rel="stylesheet" type="text/css" href="css/treeskills.css">
  <script type="text/javascript" src="js/modernizr.custom.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <!-- Navigation
    ==========================================-->
  <nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">
            Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"> DEBBIE MACROHON
          <strong></strong>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#home" class="page-scroll">Home</a>
          </li>
          <li>
            <a href="#works-section" class="page-scroll">Portfolio</a>
          </li>
          <li>
            <a href="#about-section" class="page-scroll">About</a>
          </li>
          <li>
            <a href="puns.html" class="page-scroll">Puns</a>
          </li>

        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>


  <!-- Header -->

  <header class="text-center" name="home">
    <div class="intro-text" height="70%">
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>

      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
  </header>


  <!-- Portfolio Section -->
  <div id="works-section" class="section-item">
    <div class="container">
      <!-- Container -->
      <div class="section-title text-center center">
        <h2>Portfolio</h2>
        <hr>
        <div class="clearfix"></div>
        <p>Some of the projects I've done</p>
      </div>
      <div class="categories" id="categories">
        <ul class="cat">
          <li>
            <ol class="type">
              <li style="margin-bottom:15px" v-for="cat in categories">
                <a href="#" :data-filter="cat.filter" :class="{ active: cat.isActive } ">{{cat.text}}</a>
              </li>

            </ol>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="row">
        <div class="portfolio-items" id="proj">
          <project v-for="project in projects" v-bind:props="project">
            <div class="text-center center">
              <span v-for="e in project.exp" class="badge badge-pill badge-primary">{{e}}</span>
            </div>
          </project>
        </div>
      </div>
    </div>
    <div class=" text-center center">
      <h3>Work Experience</h3>

    </div>
    <section class="cd-horizontal-timeline">
      <div class="timeline">
        <div class="events-wrapper">
          <div class="events">
            <ol>
              <li>
                <a href="#0" data-date="16/08/2015">Aug
                  <br/>2015</a>
              </li>
              <li>
                <a href="#0" data-date="05/05/2016">May
                  <br/>2016</a>
              </li>
              <li>
                <a href="#0" data-date="19/02/2019" class="selected">Feb
                  <br/>2019</a>
              </li>
              <!-- <li><a href="#0" data-date="09/08/2019">Aug 2019</a></li> -->

            </ol>

            <span class="filling-line" aria-hidden="true"></span>
          </div>
          <!-- .events -->
        </div>
        <!-- .events-wrapper -->

        <ul class="cd-timeline-navigation">
          <li>
            <a href="#0" class="prev inactive">Prev</a>
          </li>
          <li>
            <a href="#0" class="next">Next</a>
          </li>
        </ul>
        <!-- .cd-timeline-navigation -->
      </div>
      <!-- .timeline -->

      <div class="events-content">
        <ol>
          <li class="selected" data-date="16/08/2015">
            <h4>Business Intelligence Student Assistant </h4>
            <h5 id="uofc">University of Calgary</h5>
            <br/>
            <pre>
Designed a database for the university’s data dictionary application, documented parts of the 
    business process as well as the technical process behind the data dictionary
                
Collaborated with developers and business users for data dictionary and ensure their most urgent 
    needs were prioritized in the design
                
Researched other institution’s data dictionaries, and various educational research articles and 
    IT blogs about implementation methods for data dictionaries
                </pre>

          </li>

          <li data-date="05/05/2016">
            <h4>Systems Analyst</h4>

            <h5 id="bridgewaterbank">Bridgewater Bank</h5>
            <br/>
            <pre>

Gathering requirements, creating mockups, test cases, traceability matrix and documentation, 
  designed database, developed the software and implemented security features of multiple internal 
  applications for Bridgewater Bank.
               
Developing on existing company framework that improve data quality using 
  Data Quality Services, Master Data Management and SSIS. 
               
Ensuring production environment stability and mitigating risks by assessing code reviews 
  before deployment to production, developing a process to streamline the QA deployment process, 
  resolving business intelligence tickets. 
                  
                </pre>
          </li>
          <li data-date="19/02/2019">
            <h4>Software Developer</h4>

            <h5 id="arcurve">Arcurve </h5>
            <br/>
            <pre>

Integrated data from various sources (external API, physical files, databases) into a single
unified source used for business reporting using SSIS (SQL Server Integration Services). Created SSRS
(SQL Server Reporting Services) reports from the consolidated data. Updated SSAS (SQL Server
Analysis Services) cube using DAX and and SQL views.

Created reports through Power BI and developed DAX formulas to achieve dynamic results. Optimized 
Kusto queries from Azure Data Explorer and SQL queries from SQL Server Management Studio minimize 
performance issues of the reports. 

Working with creating, reading, updating, deleting object models through REST-ful APIs. 
Developing file (xml, Excel) and web scraping methods (HTML) to parse data, transform them 
into business-defined hierarchical models and integrate them into the system. 

            </pre>
          </li>

        </ol>
      </div>
      <!-- .events-content -->
    </section>
    <div class=" text-center center">
      <h3>Technical Experience</h3>

    </div>
    <div class="section-item text-center">
      <div id="treeskills" class="container thumbnail " style="overflow:scroll;"></div>
      <p>powered by D3.js</p>
    </div>
  </div>
  </div>

  <!-- About Section -->
  <div id="about-section">
    <div class="container">
      <div class="section-title text-center center">
        <h2>About</h2>
        <hr>
        <div class="clearfix"></div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <img class="img-circle" src="img/portfolio/statlib-1.jpg"> </div>
        </div>
        <div class="col-md-8">
          <div class="about-text">
            <h4>Who I Am</h4>
            <p>
              I graduated from the University of Calgary with a BSc in Computer Science and now currently work at Arcurve as a Software
              Developer. I am interested in making sense of data; ways to create visualizations that are engaging to users, finding
              patterns and deriving insights from data.
            </p>
            <h4>What I Do</h4>
            <p>
              Outside of work, I am striving to improve my problem solving skills by dabbling in coding problems, and continuously look at new technologies; or technologies
              that I have not learned yet, to sharpen my technical skill set. I like eating out, hanging out, playing music,
              video games and board games in my free time. 😊
            </p>

          </div>
          <div class="social">


            <ol class="typesocial">
              <li style="margin-left:0px">
                <a href="https://github.com/dtmacroh" target="_blank">
                  <i class="fa fa-github" aria-hidden="true"></i>
                </a>

              </li>
              <li>
                <a href="https://www.linkedin.com/in/debbie-macrohon-218115b3/" target="_blank">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>

              </li>
              <li>
                <a href="mailto:debbie.macrohon@gmail.com">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>

              </li>
            </ol>


          </div>
        </div>

      </div>

    </div>

  </div>
  <div id="contact-section" class="text-center">
    <div class="container">
      <div class="section-title center">
        <h2>Contact</h2>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <h4>Leave me a message and I'll follow up as soon as I can!</h4>
        <form action="https://formspree.io/debbie.macrohon@gmail.com" method="POST">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="name" id="name" class="form-control" placeholder="Name" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" name="email" id="email" class="form-control" placeholder="Email" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea type="text" name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
            <p class="help-block text-danger"></p>
          </div>
          <div id="success"></div>

          <button type="submit" value="Send" class="btn btn-default">Send Message</button>
        </form>
      </div>

    </div>
  </div>




  <div style="position: absolute; bottom: 40px; right: 10px; font-size: 12px">
  </div>

  <!-- Services Section -->
  <div id="services-section" class="text-center">
    <div class="container">
      <div class="section-title center">
        <h2>Interests</h2>
        <p>My interests in the field of Computer Science.</p>
      </div>

      <div class="row">
          <div class="col-md-3 col-sm-6 service">
              <i class="fa fa-database"></i>
              <h4>Data Integrations</h4>
    
            </div>
      
        <div class="col-md-3 col-sm-6 service">
          <i class="fa fa-line-chart"></i>
          <h4>Business Intelligence</h4>

        </div>
        <div class="col-md-3 col-sm-6 service">
            <i class="fa fa-desktop"></i>
            <h4>Web Design</h4>
  
          </div>
          <div class="col-md-3 col-sm-6 service">
            <i class="fa fa-gears"></i>
            <h4>App Development</h4>
  
          </div>
      </div>
    </div>

  </div>

  </div>


  <div id="footer">
    <div class="container">
      <div class="fnav">
        <p>Copyright &copy; Debbie Macrohon. Designed by
          <a href="http://www.templatewire.com" rel="nofollow">TemplateWire</a>
        </p>
        <div>Icons made by
          <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
          <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
          <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
            target="_blank">CC 3.0 BY</a>
        </div>
        <div>Icons made by
          <a href="https://www.flaticon.com/authors/lucy-g" title="Lucy G">Lucy G</a> from
          <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
          <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
            target="_blank">CC 3.0 BY</a>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery.1.11.1.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/SmoothScroll.js"></script>
  <script type="text/javascript" src="js/jquery.counterup.js"></script>
  <script type="text/javascript" src="js/waypoints.js"></script>
  <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
  <script type="text/javascript" src="js/jquery.isotope.js"></script>
  <script type="text/javascript" src="js/jqBootstrapValidation.js"></script>


  <!-- Javascripts
    ================================================== -->
  <script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="js/timeline.js"></script>
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="js/treeskills.js" charset="utf-8"></script>
  <script src="js/vue.js"></script>
  <script>
    Vue.component('project', {
      props: ['props'],
      template: `
  
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" v-bind:class="props.filter">
          <div class="portfolio-item">
            <div class="hover-bg"> <a v-bind:href="props.pageref" >
              <div class="hover-text">
                <h4>{{ props.title }}</h4>
                <small>{{ props.subtitle }}</small>
                <div class="clearfix"></div>
              </div>
              <img :src="props.image" class="img-responsive container" alt="Project Title"> </a> 
			    </div>
			  <div style="display:block;font-size:90%;text-align:center">
          <p>{{ props.title }}</p>
        
          </div>
          <slot></slot>
          </div>
        </div>`

    })

    var projects = new Vue({
      el: '#proj',
      data: {
        projects: [{
            title: "The Irene",
            subtitle: "A Button Project",
            pageref: "project-0.html",
            image: "img/portfolio/hakase.png",
            filter: 'hci',
            exp: ['WPF', 'C#']
          },
          {
            title: "Girl Scout Sash",
            subtitle: "A Physical Interactive Sash",
            pageref: "project-1.html",
            image: "img/portfolio/project1.jpeg",
            filter: 'hci',
            exp: ['Arduino', 'RFID', 'Tangibles']
          },
          {
            title: "Rooting For You",
            subtitle: "An Immersive Tree-Planting Simulation",
            pageref: "project-2.html",
            image: "img/portfolio/project2.png",
            filter: 'hci',
            exp: ['Unity', 'VR']
          },
          {
            title: "Workplace Rhythm",
            subtitle: "An Attempt to Make a Hygge Workplace",
            pageref: "project-3.html",
            image: "img/portfolio/project3.png",
            filter: 'hci',
            exp: ['Kinect', 'Unity']
          },
          {
            title: "Crime in Alberta",
            subtitle: "Visualization of Crime in Calgary and inter-Alberta",
            pageref: "datavis.html",
            image: "img/datavis/calgaryMap.png",
            filter: 'datavis',
            exp: ['Python', 'Tableau']
          },
          {
            title: "BettyBot",
            subtitle: "An Elderly Care Robot",
            pageref: "bettybot.html",
            image: "img/portfolio/bettybotmain.png",
            filter: 'robotics',
            exp: ['Python', 'Powershell']
          }
        ]

      }
    })
    var categories = new Vue({
      el: '#categories',
      data: {
        categories: [{
            text: 'All',
            filter: '*',
            isActive: true
          },
          {
            text: 'HCI',
            filter: '.hci'
          },
          {
            text: 'Data Visualization',
            filter: '.datavis'
          },
          {
            text: 'Robotics',
            filter: '.robotics'
          }
        ]
      }
    })
  </script>
</body>

</html>