<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Debbie Macrohon</title>
  <meta name="description" content="">
  <meta name="author" content="Debbie Macrohon">

  <!-- Favicons
    ================================================== -->
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> -->
  <link rel="stylesheet" type="text/css" href="css/timeline.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&&family=Quattrocento+Sans&family=Quicksand&family=Tajawal&display=swap" rel="stylesheet">	


  <!-- Stylesheet
    ================================================== -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/prettyPhoto.css">
  <link rel="stylesheet" type="text/css" href="css/treeskills.css">
  <script type="text/javascript" src="js/modernizr.custom.js"></script>

 </head>

<body>
  <div id="nav"><navbar/> </div>

  <!-- Header -->

  <header class="text-center" name="home">
    <div class="intro-text" height="70%">
      <p></p>
      <p></p>
      <p></p>
      <p></p>

      <img src="img/logo.png">

      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
  </header>


  <!-- Portfolio Section -->
  <div id="works-section" class="section-item">
    <div class="container">
      <!-- Container -->
      <div class="section-title text-center center">
        <h2>Portfolio</h2>
        <hr>
        <div class="clearfix"></div>
        <p>Some of the projects I've done</p>
      </div>
      <div class="categories" id="categories">
        <ul class="cat">
          <li>
            <ol class="type">
              <li style="margin-bottom:15px" v-for="cat in categories">
                <a href="#" :data-filter="cat.filter" :class="{ active: cat.isActive } ">{{cat.text}}</a>
              </li>

            </ol>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="row">
        <div class="portfolio-items" id="proj">
          <project v-for="project in projects" v-bind:props="project">
            <div class="text-center center">
              <span v-for="e in project.exp" class="badge badge-pill badge-primary">{{e}}</span>
            </div>
          </project>
        </div>
      </div>
    </div>
    <div class=" text-center center">
      <h3>Work Experience</h3>

    </div>
    <section class="cd-horizontal-timeline">
      <div class="timeline">
        <div class="events-wrapper">
          <div class="events">
            <ol>
              <li>
                <a href="#0" data-date="16/08/2015">Aug
                  <br/>2015</a>
              </li>
              <li>
                <a href="#0" data-date="05/05/2016">May
                  <br/>2016</a>
              </li>
              <li>
                <a href="#0" data-date="19/02/2019" class="selected">Feb
                  <br/>2019</a>
              </li>
              <li>
                <a href="#0" data-date="27/04/2020">April
                  <br/>2020</a>
              </li>
              <!-- <li><a href="#0" data-date="09/08/2019">Aug 2019</a></li> -->

            </ol>

            <span class="filling-line" aria-hidden="true"></span>
          </div>
          <!-- .events -->
        </div>
        <!-- .events-wrapper -->

        <ul class="cd-timeline-navigation">
          <li>
            <a href="#0" class="prev inactive">Prev</a>
          </li>
          <li>
            <a href="#0" class="next">Next</a>
          </li>
        </ul>
        <!-- .cd-timeline-navigation -->
      </div>
      <!-- .timeline -->

      <div class="events-content">
        <ol>
          <li class="selected" data-date="16/08/2015">
            <h4>Business Intelligence Student Assistant </h4>
            <h5 id="uofc">University of Calgary</h5>
            <br/>
            <pre>
Designed a database for the university’s data dictionary application, documented parts of the 
    business process as well as the technical process behind the data dictionary
                
Collaborated with developers and business users for data dictionary and ensure their most urgent 
    needs were prioritized in the design
                
Researched other institution’s data dictionaries, and various educational research articles and 
    IT blogs about implementation methods for data dictionaries
                </pre>

          </li>

          <li data-date="05/05/2016">
            <h4>Systems Analyst</h4>

            <h5 id="bridgewaterbank">Bridgewater Bank</h5>
            <br/>
            <pre>

Gathering requirements, creating mockups, test cases, traceability matrix and documentation, 
  designed database, developed the software and implemented security features of multiple internal 
  applications for Bridgewater Bank.
               
Developing on existing company framework that improve data quality using 
  Data Quality Services, Master Data Management and SSIS. 
               
Ensuring production environment stability and mitigating risks by assessing code reviews 
  before deployment to production, developing a process to streamline the QA deployment process, 
  resolving business intelligence tickets. 
                  
                </pre>
          </li>
          <li data-date="19/02/2019">
            <h4>Software Developer</h4>

            <h5 id="arcurve">Arcurve </h5>
            <br/>
            <pre>

Integrated data from various sources (external API, physical files, databases) into a single
unified source used for business reporting using SSIS (SQL Server Integration Services). Created SSRS
(SQL Server Reporting Services) reports from the consolidated data. Updated SSAS (SQL Server
Analysis Services) cube using DAX and and SQL views.

Created reports through Power BI and developed DAX formulas to achieve dynamic results. Optimized 
Kusto queries from Azure Data Explorer and SQL queries from SQL Server Management Studio minimize 
performance issues of the reports. 

Working with creating, reading, updating, deleting object models through REST-ful APIs. 
Developing file (xml, Excel) and web scraping methods (HTML) to parse data, transform them 
into business-defined hierarchical models and integrate them into the system. 

            </pre>
          </li>
          <li data-date="27/04/2020">
            <h4>ETL Developer</h4>

            <h5 id="dynamicrisk">Dynamic Risk </h5>
            <br/>
            <pre>

Integrating data from SQL Server and Oracle sources into environments of clients' choice 
  (SQL Server or Oracle) for analyzing spillage, cracks or anomalies from inline inspection
  data of their pipelines.

Created POC for data migration from on-prem database to Azure (SQL Database) using Data Factory. 

Optimized processes and queries. 
            

            </pre>
          </li>
          <li data-date="09/08/2021">
            <h4>Data Engineer</h4>

            <h5 id="avanade">Avanade</h5>
            <br/>
            <pre>


            

            </pre>
          </li>
        </ol>
      </div>
      <!-- .events-content -->
    </section>
    <div class=" text-center center">
      <h3>Technical Experience</h3>
<p>How to read this chart:</p>
<p><strong>Select </strong> <i class="fa fa-hand-o-up"></i> a node to explore what skills make up my technical experience. The bigger the node, the greater experience I have
  in that area.
</p>
    </div>
    <div class="section-item text-center">
      <div id="treeskills" class="container thumbnail " style="overflow:scroll;"></div>
      <p>powered by D3.js</p>
    </div>
  </div>
  </div>

  <!-- About Section -->
  <div id="about-section">
    <div class="container">
      <div class="section-title text-center center">
        <h2>About</h2>
        <hr>
        <div class="clearfix"></div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <img class="img-circle" src="img/portfolio/headshot-1.jpg"> </div>
        </div>
        <div class="col-md-8">
          <div class="about-text">
            <h4>Who I Am</h4>
            <p>
              I graduated from the University of Calgary with a BSc in Computer Science and now currently work at Avanade as a Data Engineering Consultant.
               I am interested in all things data; engineering data pipelines, figuring out ways to create visualizations that are engaging to users, finding
              patterns and deriving insights from data.
            </p>
            <h4>What I Do</h4>
            <p>
              Outside of work, I strive to expand my technology set by researching new technologies for data and analyzing the best use cases for them. 
              For now I am focusing my efforts on Apache Kafka, Spark and cloud computing (Azure and AWS). In my spare time I like eating out, hanging out, playing music,
              video games and board games. 😊
            </p>

          </div>
          <div class="social">


            <ol class="typesocial">
              <li style="margin-left:0px">
                <a href="https://github.com/dtmacroh" target="_blank">
                  <i class="fa fa-github" aria-hidden="true"></i>
                </a>

              </li>
              <li>
                <a href="https://www.linkedin.com/in/debbie-macrohon-218115b3/" target="_blank">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>

              </li>
              <li>
                <a href="mailto:debbie.macrohon@gmail.com">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>

              </li>
            </ol>


          </div>
        </div>

      </div>

    </div>

  </div>
  <div id="contact-section" class="text-center">
    <div class="container">
      <div class="section-title center">
        <h2>Contact</h2>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <h4>Leave me a message and I'll follow up as soon as I can!</h4>
        <form action="https://formspree.io/f/mjvpapdp" method="POST">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="name" id="name" class="form-control" placeholder="Name" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" name="email" id="email" class="form-control" placeholder="Email" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea type="text" name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
            <p class="help-block text-danger"></p>
          </div>
          <div id="success"></div>

          <button type="submit" value="Send" class="btn btn-default">Send Message</button>
        </form>
      </div>

    </div>
  </div>




  <div style="position: absolute; bottom: 40px; right: 10px; font-size: 12px">
  </div>

  <!-- Services Section -->
  <div id="services-section" class="text-center">
    <div class="container">
      <div class="section-title center">
        <h2>Interests</h2>
        <p>My interests in the field of Computer Science.</p>
      </div>

      <div class="row">
          <div class="col-md-3 col-sm-6 service">
              <i class="fa fa-database"></i>
              <h4>Data Engineering</h4>
    
            </div>
      
        <div class="col-md-3 col-sm-6 service">
          <i class="fa fa-line-chart"></i>
          <h4>Business Intelligence</h4>

        </div>
        <div class="col-md-3 col-sm-6 service">
            <i class="fa fa-cloud"></i>
            <h4>Cloud Computing</h4>
  
          </div>
          <div class="col-md-3 col-sm-6 service">
            <i class="fa fa-gears"></i>
            <h4>App Development</h4>
  
          </div>
         
      </div>
    </div>

  </div>

  </div>


  <div id="foot"><foot></foot></div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery.1.11.1.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/vue.js"></script>
  <script src="js/navbar.js"></script>
  <script src="js/vue-project.js" charset="utf-8"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/SmoothScroll.js"></script>
  <script type="text/javascript" src="js/jquery.counterup.js"></script>
  <script type="text/javascript" src="js/waypoints.js"></script>
  <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
  <script type="text/javascript" src="js/jquery.isotope.js"></script>
  <script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
  
  
  <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/timeline.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="js/treeskills.js" charset="utf-8"></script>


</body>

</html>